<div class="modal-header" style="border: none">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <div id="errors_div">
  </div>
  <%= render 'form' %>
</div>
