<div class="list-group">
  <% contacts.each do |contact| %>
    <%= link_to "#{contact.first_name} #{contact.last_name}", contact_path(contact), class: "list-group-item", :style => "border-radius: 0; border: none", remote: true %>
  <% end %>
</div>
