<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title" id="edit-groups-title">Add To Group</h4>
</div>
<div class="modal-body">
  <%= simple_form_for @contact, remote: true  do |f| %>
    <%= f.association :groups,label: false, as: :check_boxes, collection: Group.all.to_a, label_method: :name %>
    <%= f.button :submit, class: "btn btn-default btn-primary group-submit-button" %>
  <% end %>
</div>
