<nav class="nav-bar">
  <h1 class="hidden-xs " id="logo">CONTACT MANAGER</h1>
  <div class="search-box-wrapper">
    <%= form_tag search_contacts_path, :method => 'get', id: "contact-search", remote: true do =%>
      <div class="form-search-wrapper">
        <%= text_field_tag :search, params[:search], placeholder: "Search for anyone..." %>
        <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
