<div class="list-column">
    <div class="contact-wrapper">
      <%= link_to "#{@contact.first_name} #{@contact.last_name}", contact_path(@contact) %>
    </div>
</div>
<%= render 'form' %>

<%= link_to 'Back', contact_path(@contact) %>
