/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*

    == BASE STYLES ==

*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4{
  margin: 0;
}

h4{
  font-size: 24px;
}

a{
  text-decoration: none;
}

body {
   font-size: 18px;
   line-height: 1.5;
   margin: 0;
}

html, body {
   height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*

  styling the container

*/


#new-group-link{
  color: #428bca;
}

#contacts-list .glyphicon{
  font-size: 13px;
}

#sidebar-glyphs{
  margin-right: 10px;
  padding-top: 1px;
}

/*

  Inside the modal

*/

.modal .card span{
  padding-right: 10px;
}

.edit-form-wrapper
{
  padding: 0 30px 30px 30px;
}

.edit-group-wrapper{
  margin: 15px 0;
}

.avatar{
  margin-bottom: 10px;
}

.avatar img{
  width: 150px;
  margin-left: 30px;
  border-radius: 50%;
}

#contact_profile_picture{
  font-size: 13px;
}

/*

  styling the nav

*/

.small-search-box{
  position: absolute;
  display: inline-block;
  top: 15%;
}

#small-logo-container{
  width: 20%;
  display: inline-block;
  padding: 0 10px;
}

#small-logo{
  line-height: 1.3;
  color: black;
}

.navbar-default .navbar-nav > li > .create-button {
  color: #428bca;
}

.nav-bar{
  position: relative;
  overflow: auto;
  height: 70px;
}

#logo{
  margin: 0;
  padding: 0 15px;
  line-height: 70px;
  float: left;
}

#search{
  width: 100%;
}
.search-box-wrapper{
  padding: 0 20px;
}
.form-search-wrapper{
  margin-right: 50px;
  position: relative;
}
.form-search-wrapper button{
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
}

.group-name-wrapper{
  display: inline-block;
}

.group-name-wrapper>a{
  color: #555555;
}

.list-group>a{
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #555555;
  white-space: nowrap;
}

.list-group{
  padding: 3px 10px;
  border: none;
  border-radius: 0;
}

.list-group-item{
  border: none;
  border-radius: 0;
}

.action-buttons>a{
  display: none;
}

.group-name-container:hover .action-buttons>a{
  display: inline-block;
}

.action-buttons>a{
  color: #555555;
}

#groups-dropdown{
  background-color: #f8f8f8;
}

/*

transition

*/

nav.sidebar {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

@media (min-width: 768px) {

  header{
   display: block;
  }

  .content{
    margin-left: 40px;
    padding-left: 10px;
  }

  .navbar-nav > li > a{
    padding: 15px 5px 15px 15px;
  }

  nav.sidebar{
   position: fixed;
   z-index: 1;
   overflow-x: hidden;
  }

  #sidebar-glyphs{
    float:right !important;
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }

  .search-box-wrapper{
    height: 100%;
    float: left;
    width: 50%;
  }
  #contact-search{
    padding-top: 20px;
  }

  /* dropdown menu inside sidebar */
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0;
  }

  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -155px;
    top: 70px;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover{
    margin-left: 0px;
  }
}

@media (min-width: 1000px) {

  .content{
    margin-left: 200px;
  }

  nav.sidebar{
    margin-left: 0px;
  }

  #sidebar-glyphs{
    float:left !important;
  }
}
